// ================== 1800 width ================== //

$background-image: "about-bg.png";
$top-gutter: 56px;
$top-gutter-page: 58px;

.page-content{
	padding-top: $top-gutter-page;
}

.s-about{
	text-align: center;
	padding-top: $top-gutter;
	@include img($image + $background-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}



// ================== 768 width ================== //


$top-gutter: 36px;
$top-gutter-page: 38px;


@include apply-to($s,max){
	.page-content{
		padding-top: $top-gutter-page;
	}
	.s-about{
		padding-top: $top-gutter;
	}
}



// ================== 480 width ================== //


$top-gutter: 29px;
$top-gutter-page: 21px;


@include apply-to($xs,max){
	.page-content{
		padding-top: $top-gutter-page;
	}
	.s-about{
		padding-top: $top-gutter;
	}
}