// ================== 1800 width ================== //

$background-image: "about-bg.png";
$top-gutter: 56px;


.s-about{
	text-align: center;
	padding-top: $top-gutter;
	@include img($image + $background-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}



// ================== 768 width ================== //


$top-gutter: 36px;


@include apply-to($s,max){
	.s-about{
		padding-top: $top-gutter;
	}
}



// ================== 480 width ================== //


$top-gutter: 29px;


@include apply-to($xs,max){
	.s-about{
		padding-top: $top-gutter;
	}
}