$avatarSize: 141px;
$animateView : 800px;

.home-page{
	background-image: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0px 200px 300px -200px rgba(0,0,0,0.67);
		-moz-box-shadow: inset 0px 200px 300px -200px rgba(0,0,0,0.67);
		box-shadow: inset 0px 200px 300px -200px rgba(0,0,0,0.67);
	height: 100vh;
	min-height:  900px;
	@include apply-to($xs,max){
		min-height: 650px;
	}
	text-align: center;
	
	.cover__content__info{
		.avatar{
			width: $avatarSize;
			height: $avatarSize;
			margin: 0 auto;
			margin-top: 40px;
			margin-bottom: 14px;
			@include apply-to($xs,max){
				margin-bottom: 23px;
			}
		}
		.social{
			margin-bottom: 38px;
		}
		.total-title{
			font-size: 28px;
			display: block;
			margin: 0;
			margin-bottom: 8px;
			@include apply-to($xs,max){
				font-size: 21px;
			}
		}
		.total-text{
			font-size: 16px;
			display: block;
			margin: 0;
			margin-bottom: 27px;
			@include apply-to($xs,max){
				font-size: 14px;
				margin-bottom: 30px;
			}
		}
	}

	
	
	.hide{
		margin-bottom: 0;
	}

}

.entry{
	position: absolute;
	right: 19px;
	text-align: center;
	top: 20px;
	padding: 13px 27px;
	display: inline-block;
	border-radius: 30px;
	text-decoration: none;
	background-color: transparent;
	@include trans(.2s);
	@include fonts($fontMain,$f-m);
	@include apply-to($xs,max){
		font-size: 14px;
		display: inline-block;
		padding: 11px 19px;
		text-align: center;
		position: static;
		margin-top: 10px;
		margin-bottom: 35px;
	}
}

