$avatarSize: 141px;
$animateView : 800px;

.home-page{
	background-image: url("../img/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-box-shadow: inset 0px 200px 300px -200px rgba(0,0,0,0.67);
		-moz-box-shadow: inset 0px 200px 300px -200px rgba(0,0,0,0.67);
		box-shadow: inset 0px 200px 300px -200px rgba(0,0,0,0.67);
	height: 100%;
	min-height: 900px;
	@include apply-to($xs,max){
		height: 100%;
		min-height: 580px;
	}
	text-align: center;
	
	.cover__content__info{

		.avatar{
			width: $avatarSize;
			height: $avatarSize;
			margin: 0 auto;
			margin-top: 40px;
			margin-bottom: 14px;
			@include apply-to($xs,max){
				margin-bottom: 23px;
			}
		}
		.social{
			margin-bottom: 38px;
		}
		.total-title{
			font-size: 28px;
			display: block;
			margin: 0;
			margin-bottom: 8px;
			@include apply-to($xs,max){
				font-size: 21px;
			}
		}
		.total-text{
			font-size: 16px;
			display: block;
			margin: 0;
			margin-bottom: 27px;
			@include apply-to($xs,max){
				font-size: 14px;
				margin-bottom: 30px;
			}
		}
	}
/* 	.cover__content__form{
		-moz-user-select: none;
		-webkit-user-select: none;
		.input__container{
			padding-left: 20px;
			padding-right: 20px;
		}
		.form__item{
				padding-left: 64px;
				display: block;
				opacity: 1;
				margin-bottom: 0;
			}
		
		.title{
			margin-top: 32px;
			font-size: 35px;
			&:after{
				position: relative;
				left: -4px;
				top: 2px;
			}
			margin-bottom: 33px;
		}
		.input-wrap{
			position: relative;
			overflow: hidden;
			padding: 0;
			border-radius: 27px;
			margin-bottom: 20px;
			&__title{
				display: block;
			}
			&_checkbox{
				margin-bottom: 18px;
				.input-wrap__text{
					position: relative;
					top: 1px;
					left: -2px;
					&:before{
						@extend %pseudo;
						position: absolute;
						height: 17px;
						width: 20px;
						top: 0;
						padding-top: 3px;
						left: -31px;
						font-size: 12px;
						font-family: $fontIcon;
						border-radius: 5px;
						overflow: hidden;
					}
					
				}
				.form__item_checkbox{
					width: 20px;
					opacity: 0;
					position: relative;
					left: 1px;
					height: 20px;
					margin: 0;
					display: inline-block;
					vertical-align: middle;
					margin-right: 10px;
					cursor: pointer;
					&:checked{
						& + .input-wrap__text:before{
							content: "\e802";
						}
					}
					
				}
			}
			&_radio{
				.input-wrap__title{
					position: relative;
					top: 1px;
					left: -2px;
					margin-bottom: 10px;
				}
				.form__item__wrap{
					display: inline-block;
					padding: 0 23px;
					margin-bottom: 18px;
					&:last-child{
						position: relative;
						left: -5px;
					}
				}
				.input-wrap__text{
					position: relative;
					right: -5px;
					&:before{
						@extend %pseudo;
						height: 20px;
						width: 20px;
						position: absolute;
						top: 0px;
						left: -29px;
						padding: 0;
						border-radius: 50%;
					}
					&:after{
						@extend %pseudo;
						height: 8px;
						width: 8px;
						border-radius: 50%;
						top: 6px;
						left: -23px;
						position: absolute;	
						opacity: 0;
					}
				}
				.form__item_radio{
					height: 20px;
					width: 20px;
					display: inline-block;
					vertical-align: middle;
					cursor: pointer;
					opacity: 0;
					&:checked{
						& + .input-wrap__text:after{
							opacity: 1;
						}
					}
				}
			}
			
			
			.ico__wrap{
				position: absolute;
				display: block;
				cursor: pointer;
				top: 0px;
				left: 1px;
				font-size: 18px;
				padding: 14px 10px;
				background-color: #f0efe9;
			}
			.input__ico{
				position: relative;
				left: -2px;

			}
		}
	} */
	
	
	.hide{
		margin-bottom: 0;
	}

}

.entry{
	position: absolute;
	right: 19px;
	text-align: center;
	top: 20px;
	padding: 13px 27px;
	display: inline-block;
	border-radius: 30px;
	text-decoration: none;
	background-color: transparent;
	@include trans(.2s);
	@include fonts($fontMain,$f-m);
	@include apply-to($xs,max){
		font-size: 14px;
		display: inline-block;
		padding: 11px 19px;
		text-align: center;
		position: static;
		margin-top: 10px;
		margin-bottom: 35px;
	}
}

