// ================== 1800 width ================== //


$header-img: "header-bg.jpg";


.header{
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: inset 0px 200px 300px -200px rgba(0,0,0,0.67);
		position: relative;
		height: 100vh;
		min-height: 650px;
		background-position: 100%;
		@include img($image + $header-img);
	&__top-line{
		@include clear();
		padding-top: 24px;
		position: relative;
		z-index:	100;
	}
	&__content{
		position: absolute;
		z-index: 120;
		max-width: 1180px;
		height: 300px;
		width: 100%;
		@include center();
	}
	
}












