// ================== 1800 width ================== //

$avatar--header_size: 140px;
$avatar--recal_size: 77px;


	// ======= modifiers ======= //

	.avatar{
		@include radius();
		position: relative;
		margin: 0 auto;
		&__img{
			width: 100%;
		}
	}

	.avatar-big{
		overflow: hidden;
		@include trans(.3s);
		&__img{
			width: 100%;
		}
	}



	// ======= Common ======= //
	
	.header{
		.avatar{
			height: $avatar--header_size;
			width: $avatar--header_size;
			margin-bottom: 24px;
		}
	}
	.recall{
		.avatar{
			height: $avatar--recal_size;
			width: $avatar--recal_size;
			margin-bottom: 19px;
		}
	}
	.s-about-me{
		.avatar-big{
			max-height: 391px;
			width: 100%;
			overflow: hidden;
			margin-bottom: 28px;
			position: relative;
		}
	}



// ================== width < 1200 ================== //


@include apply-to($m - 1,max){

	.s-about-me{
		.avatar-big{
			max-height: 416px;
			width: 100%;
			overflow: hidden;
			margin-bottom: 39px;
			position: relative;
		}
	}

}


// ================== 768 width ================== //


$avatar--recal_size: 77px;



@include apply-to($s,max){

	.recall{
		.avatar{
			height: $avatar--recal_size;
			width: $avatar--recal_size;
		}
	}
	
}

// ================== 480 width ================== //


$avatar--recal_size: 51px;



@include apply-to($xs,max){

	.recall{
		.avatar{
			height: $avatar--recal_size;
			width: $avatar--recal_size;
		}
	}

	.header{
		.avatar{
			margin-bottom: 29px;
		}
	}

	.s-about-me{
		.avatar-big{
			max-height: 284px;
			margin-bottom: 21px;
		}
	}

}