// ================== 1800 width ================== //
	.contacts{
		&__list{
			margin: 0;
			list-style-type: none;
			padding: 0;
			padding-left: 35px;
		}
		&__item{
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			margin-bottom: 16px;
			display: flex;
		}
		&__icon{
			font-size: 25px;
			vertical-align: middle;
			position: relative;
			top: -4px;
			padding-right: 4px;
		}
		&__text{
			display: block;
		}
		
	}


// ================== 1200 width ================== //

@include apply-to($m,max){
		
		.contacts{
			&__list{
				margin: 0;
				list-style-type: none;
				padding: 0;
				padding-left: 34px;
			}
			&__item{
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				margin-bottom: 16px;
				display: flex;
			}
			&__icon{
				font-size: 25px;
				vertical-align: middle;
				position: relative;
				top: -4px;
				padding-right: 4px;
			}
			&__text{
				display: block;
			}	
		}


}

// ================== 768 width ================== //

@include apply-to($s,max){
		
		.contacts{
			&__list{
				margin: 0;
				list-style-type: none;
				padding: 0;
				padding-left: 34px;
			}
			&__item{
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				margin-bottom: 16px;
				display: flex;
				&:last-child{
					margin-bottom: 24px;
				}
			}
			&__icon{
				font-size: 25px;
				vertical-align: middle;
				position: relative;
				top: -4px;
				padding-right: 4px;
			}
			&__text{
				display: block;
			}	
		}


}










// ================== 480 width ================== //

@include apply-to($xs,max){
		
		.contacts{
			&__list{
				margin: 0;
				list-style-type: none;
				padding: 0;
				padding-left: 25px;
			}
			&__item{
				display: inline-block;
				width: 100%;
				vertical-align: middle;
				margin-bottom: 16px;
				display: flex;
				&:last-child{
					margin-bottom: 10px;
				}
			}
			&__icon{
				font-size: 25px;
				vertical-align: middle;
				position: relative;
				top: -4px;
				padding-right: 4px;
			}
			&__text{
				display: block;
			}	
		}


}