// ================== 1800 width ================== //


$cover_width : 380px;
$cover_s-about_gutter-bottom: 59px;
$cover-s-about_gutter-top: 28px;


.cover{
	width: 100%;
	max-width: $cover_width;
	margin: 0 auto;
	border-radius: 5px;
	overflow: hidden;
}

.cover_s-about{
	padding-top: $cover-s-about_gutter-top;
	margin-bottom: $cover_s-about_gutter-bottom;
}


.cover--map{
		position: absolute;
		@include center();
		overflow: hidden;
		margin: auto;
		padding-bottom: 15px;
		max-width: 380px;
		z-index: 1000;
		padding-top: 28px;
}

.home-page{
	.cover{
		overflow: visible;
		perspective: 800px;
		@include center();
	}
}


// ================== 1200 width ================== //


$cover_s-about_gutter-bottom: 59px;


@include apply-to($m,max){
	.cover_s-about{
		margin-bottom: $cover_s-about_gutter-bottom;
	}
}



// ================== 768 width ================== //


$cover_s-about_gutter-bottom: 42px;
$cover_width : 350px;


@include apply-to($s,max){
	.cover{
		width: $cover_width;
	}
	.cover_s-about{
		padding-top: 24px;
		margin-bottom: $cover_s-about_gutter-bottom;
	}
	.cover--map{
		padding-top: 40px;
		padding-bottom: 3px;
		min-width: 380px;
	}
}


// ================== 480 width ================== //


$cover_s-about_gutter-bottom: 29px;
$cover-s-about_gutter-top: 37px;
$cover_width : 299px;


@include apply-to($xs,max){
	.cover{
		max-width: $cover_width;
	}
	.cover_s-about{
		padding-top: $cover-s-about_gutter-top;
		margin-bottom: $cover_s-about_gutter-bottom;
	}
	.cover--map{
		padding-top: 21px;
		padding-bottom: 3px;
		min-width: 100%;
		width: 100%;
	}

	.cover{
		top: 0;
		left: 0;
		transform: none;
	}
}