%link-reset{
	&:active{
			color: inherit;
		}
		&:link{
			color: inherit;
		}
		&:visited{
			color: inherit;
		}
}

%li-reset{
	list-style-type: none;
	display: inline-block;
}

%pseudo{
	display: block;
	content: "";
}

.flip{
	.cover__front{
		z-index: 900;
		transform: rotateY(180deg);
	}
	.cover__back{
		z-index: 1000;
		transform: rotateX(0deg) rotateY(0deg);
		@include apply-to($l,max){
			top: -5%;
		}
	}
	
}

.cover__front {
	//position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: inherit;
	overflow: hidden;
	z-index: 900;
	text-align: center;
	transform: rotateX(0deg) rotateY(0deg);
	//transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .4s ease-in-out;
}

.cover__back{
	height: inherit;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	transform: rotateY(-180deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .4s ease-in-out;
}


.popUpMenu{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: #fff;
	z-index: 2000;
	opacity: 0;
	visibility: hidden;
	@include trans(.5s);
	&:after{
		content: "";
		display: block;
		position: absolute;
		height: 100vh;
		width: 0;
		top: 0;
		@include trans(.5s);
	}
	&:before{
		content: "";
		display: block;
		position: absolute;
		height: 100vh;
		width: 0;
		top: 0;
		right: 0;
		@include trans(.5s);
	}
	&__inner{
		position: absolute;
		z-index: 2001;
		    top: 50vh;
		@include center();
		.nav__item{
			display: block;
			text-align: center;
			font-size: 63px;
			@include fonts($fontExtra,$f-r);
			margin-bottom: 60px;
			position: relative;
			padding-right: 0;
			@include apply-to($s,max){
				font-size: 49px;
			}
			@include apply-to($xs,max){
				font-size: 35px;
			}
			&:last-child{
				margin-bottom: 0;
			}
			
		.nav__link{
			display: block;
			&:after{
				content: "";
				display: block;
				height: 3px;
				margin: 0 auto;
				margin-top: 30px;
				width: 89px;
				opacity: 0;
				@include trans(.1s);
			}
			&:hover{
				&:after{
					opacity: 1;
				}
			}
		}
		}
	}
}

.popUpMenu_show{
	display: block;
	opacity: 1;
	visibility: visible;
	&:after,&:before{
		width: 50%;
	}
}

.hide{
	opacity: 0;
	visibility: hidden;
}

.total-hide{
	display: none;
}

.no-scroll{
	overflow: hidden;
}


.popUpWindow{
	  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: #fff;
    z-index: 8000;
    -webkit-transition: 0.5s;
    transition: 0.5s;

	@include trans(.3s);

	&__container{
		width: 100%;
		max-width: 40vw;
		margin: 0 20px;
		background-color: #fff;
		position: fixed;
		padding: 20px;
		@include 	center();
		top: 40%;
		border-radius: 10px;
		box-shadow: 10px 7px 5px -2px rgba(0,0,0,0.15);
		@include apply-to($s,max){
			max-width: 300px;
			left: 0;
			transform: none;
			right: 0;
			margin: auto;
		}

	}
	&__text{
		font-size: 40px;
		@include apply-to($m,max){
			font-size: 30px;
		}
	}
	&__close{
		height: 20px;
		width: 20px;
		background-size: 100%;
		padding: 10px;
		position: absolute;
		right: -10px;
		top: -10px;
		z-index: 9000;
		border-radius: 50%;
		cursor: pointer;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAQAAAAAYLlVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfgCgQELyLfN++BAAABn0lEQVRo3s2ZO5KCUBBFL6ZugMzUTRC4EDZFxAJYBlWmZJpQugRDq8g9E1g148yovE9Tbac+7j0+4NEfSZJEQU3HyMRAS6UFgoqWgYmRjpri8acNPY9xo2Ftar6m4fbLo2fzY3/lf4yUZvYl4xOHK5v75vc8j5MNAiWnFw49hah5HQYIb+wBatHBcggz9tDp6d0xQpi1h1FMzEUiQoA9TGKYXZSEEGQPw0rHALWt9nEIlNprG7DwKKo/B4TBLgT+e7hRSaIJWhyMEGwPzf2C9eybEIEQYT9+H/cRF80gJCvZIGSp5CNkK+QJmOxhuojZU5QmZPcQJ4mZ2scLmttHI9jbRyIsYW+OkJZRmCGk51QmCHlZZTZCfl6dhWBTWSQjGBU2qQh29kkItvbRCBH2K2POpcL5Fjg/hM6vofNB5HwUO3+MnD/HzgmJc0rmnJQ6p+XOhYlzaeZcnDqX584NCucWjXOTyr1N59yodG/V0lrbRyG07u36DxhYOI9sVjq81ThrV1xSAYqLdjq/XXL4gLGd9+DSfXQruQ+vJc/x/RfNqgcm/mEo8gAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxNi0xMC0wNFQwNDo0NzozNCswMjowMPurm5gAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTYtMTAtMDRUMDQ6NDc6MzQrMDI6MDCK9iMkAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==');
	}
	
}


