// Fonts
$fontMain : "Roboto";
$fontExtra : "Sansus-Webissimo";
$fontIcon : "Icon-Font";

$f-r	: "Regular";
$f-l	: "Light";
$f-m	: "Medium";
$f-b	: "Bold";
$f-l-i	: "LigthItalic";
$f-m-i	: "MediumItalic";
$f-b-i	: "BoldItalic";