// Fonts
$fontMain : "Roboto";
$fontExtra : "Sansus-Webissimo";
$fontIcon : "Icon-Font";

$f-r	: "Regular";
$f-l	: "Light";
$f-m	: "Medium";
$f-b	: "Bold";
$f-l-i	: "LigthItalic";
$f-m-i	: "MediumItalic";
$f-b-i	: "BoldItalic";


// Media

$xs : 480px;
$s  : 768px;
$m  : 1200px;
$l  : 1800px;