// ================== 1800 width ================== //

$avatar_size: 60px;
$avatar--recal_size: 77px;

.avatar{
	@include radius();
	height: $avatar_size;
	width: $avatar_size;
	position: relative;
	&__img{
		width: 100%;
	}
}

.avatar--recall{
	height: $avatar--recal_size;
	width: $avatar--recal_size;
	margin: 0 auto;
	margin-bottom: 18px;
}


// ================== 768 width ================== //


$avatar--recal_size: 77px;



@include apply-to($s,max){
	.avatar--recall{
		height: $avatar--recal_size;
		width: $avatar--recal_size;
	}
}

// ================== 480 width ================== //


$avatar--recal_size: 51px;



@include apply-to($s,max){
	.avatar--recall{
		height: $avatar--recal_size;
		width: $avatar--recal_size;
	}
}