// ================== 1800 width ================== //

$avatar--header_size: 140px;
$avatar--recal_size: 77px;


	// ======= modifiers ======= //

	.avatar{
		@include radius();
		position: relative;
		margin: 0 auto;
		&__img{
			width: 100%;
		}
	}



	// ======= Common ======= //
	
	.header{
		.avatar{
			height: $avatar--header_size;
			width: $avatar--header_size;
			margin-bottom: 24px;
		}
	}
	.recall{
		.avatar{
			height: $avatar--recal_size;
			width: $avatar--recal_size;
			margin-bottom: 19px;
		}
	}





// ================== 768 width ================== //


$avatar--recal_size: 77px;



@include apply-to($s,max){

	.recall{
		.avatar{
			height: $avatar--recal_size;
			width: $avatar--recal_size;
		}
	}
	
}

// ================== 480 width ================== //


$avatar--recal_size: 51px;



@include apply-to($xs,max){

	.recall{
		.avatar{
			height: $avatar--recal_size;
			width: $avatar--recal_size;
		}
	}

	.header{
		.avatar{
			margin-bottom: 29px;
		}
	}

}