// ================== 1800 width ================== //


.buttons{
	@include clear();
	width: 100%;
	&__item{
		outline: none;
		border: none;
		width: 100%;
		cursor: pointer;
		@include trans(.2s);
		padding: 14px 0;
	}
}

.buttons_about-me{
	.buttons__wrap{
		float: left;
		width: 50%;
	}
}

