// ================== 1800 width ================== //


.button{
	width: 100%;
	&__item{
		outline: none;
		border: none;
		display: block;
		width: 100%;
		cursor: pointer;
		@include trans(.2s);
		padding: 14px 0;
		text-decoration: none;
	}
}

.buttons_about-me{
	.button__wrap{
		float: left;
		width: 50%;
	}
}

.home-page{
	.cover__front{
		.buttons{
			display: flex;
			.button__wrap{
				flex-grow: 1;
			}
		}
	}
	.cover__back{
		.buttons{
			display: block;
			.button__wrap{
				float: left;
				width: 50%;
			}
		}
	}
}

