.sandwich{
	height: 36px;
	width: 41px;
	cursor: pointer;
	margin-top: 3px;
	position: relative;
	z-index: 1000;
	&__line{
		width: 100%;
		display: block;
		height: 5px;
		margin-bottom: 10px;
		border-radius: 5px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}