// ================== 1800 width ================== //

$container_width: 100%;
$container_gutter: 30px;

.container{
	@include container(auto,$container_gutter);
	@include clear();
	max-width: $container_width;
}

.container_footer{
	padding-left: 0;
	padding-right: 0;
}





// ================== 480 width ================== //


$container_width: 1800px;
$container_gutter: 11px;
$container_footer_gutter: 0;


@include apply-to($xs,max){

	.container{
		padding-left: $container_gutter;
		padding-right: $container_gutter;
		max-width: $container_width;
	}

	.container_footer{
		padding-left: $container_footer_gutter;
		padding-right: $container_footer_gutter;
	}

}