// ================== 1800 width ================== //

$nav__item_padding_right : 35px;


.nav{
	text-align: left;
	margin: 0;
	padding: 0;
	&__item{
		display: inline-block;
		list-style-type: none;
		padding-right: $nav__item_padding_right;
		&:last-child{
			padding-right: 0;
		}
	}
	&__link{
		padding: 0;
		text-decoration: none;
		margin: 0;
		@include trans(.1s);
	}
}

.nav_footer{
	.nav{
		&__item{
			margin-bottom: 18px;
		}
	}
}



// ================== 768 width ================== //


$nav__item_padding_right : 13px;
$nav__item_padding_right_last: 0;


@include apply-to($m,max){

	.nav_footer{
		.nav{
			&__item{
				padding-right: $nav__item_padding_right;
				&:last-child{
					padding-right: $nav__item_padding_right_last;
				}
			}
		}
	}

}
	


// ================== 768 width ================== //

$nav__item_padding_right : 6px;
$nav__item_padding_right_last: 0;
$nav_footer_font-size: 14px;



@include apply-to($s,max){

	.nav_footer{
		.nav{
			&__item{
				font-size: $nav_footer_font-size;
				padding-right: $nav__item_padding_right;
				&:last-child{
					padding-right: $nav__item_padding_right_last;
				}
			}
		}
	}

}


// ================== 480 width ================== //


$nav_footer_text-align: center;


@include apply-to($xs,max){

	.nav_footer{
		.nav{
			text-align: $nav_footer_text-align;
		}
	}

}