$svgWindowSize : 60%;
$lineWidth : 50%;

$animationSpeed: 1.7s;
$animation-delay--one_line : 0s;
$animation-delay--two_line: .4s;
$animation-delay--tree_line: .8s;

$shawOutspeed: 1s;




.preloader__spinner{
	width: 150px;
	height: 150px;
	position: absolute;
	z-index: 99992;
	overflow: hidden;
	@include center();
	top: 40%;
	text-align: center;
	font-size: rem(22px);
}

.showOut{
	opacity: 0;
	visibility: hidden;
}



.preloader{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99991;
	@include trans($shawOutspeed);
	&__counter{
		margin-top: 12px;
	}
	.load__img{
		position: absolute;
		width: $lineWidth;
		right: 0;
		left: 0;
		margin: auto;
		bottom: 0;
		height: $svgWindowSize;
		
	}
	


	&__svg{
		height: 100%;
		width: 100%;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		position: relative;
	}

}




@keyframes load{
	from{
		transform: translateX(100%) ;
	}
  to{
  	transform: translateX(-100%);
  }
}

@keyframes load-reverse{
	from{
		transform: translateX(-100%) ;
	}
  to{
  	transform: translateX(100%);
  }
}



.preloader__svg__line{
	height: 33.33333%;
	overflow: hidden;
	position: relative;
	animation: load-reverse infinite;
	transform: translateX(-100%); 
	animation-timing-function: ease-in-out;
	animation-duration: $animationSpeed;


	svg{
		height: 129px;
		width: 100%;
		top: -27px;
		position: relative;
		transform: translateX(100%);
		animation: load infinite;
		animation-timing-function: ease-in-out;
		animation-duration: $animationSpeed;
		
	}
	&:nth-child(1){
		animation-delay: $animation-delay--one_line;
		svg{
			animation-delay: $animation-delay--one_line;
		}
	}
	&:nth-child(2){
		animation-delay: $animation-delay--two_line;
		svg{
			animation-delay: $animation-delay--two_line;
		}
	}
	&:nth-child(3){
		animation-delay: $animation-delay--tree_line;
		svg{
			animation-delay: $animation-delay--tree_line;
		}
	}
}


