// ================== 1800 width ================== //

$qutes_font-size: rem(16px);
$quote_max-width: 480px;
$quote_text-align: left;

$quote__simple_max-width: 353px;

$quote--recall_text_gutter-bottom: 21px;
$quote--recall_autor_gutter-bottom: 6px;


.quote{
	padding: 0;
	margin: 0;
	opacity: .5;
	text-align: $quote_text-align;
	font-size: $qutes_font-size;
	max-width: $quote_max-width;
	&__text{
		margin: 0;
		position: relative;
		top: -3px;
		line-height: 25px;
		@include fonts($fontMain, $f-l-i);
	}
	&__author{
		@include fonts($fontMain, $f-b-i);
	}
}

.quote__simple{
	text-align: $quote_text-align;
	max-width: $quote__simple_max-width;
	@include fonts($fontMain, $f-l);
	top: -3px;
	position: relative;
	line-height: 23px;
}

.quote--recall{
	opacity: 1;
	.quote__pre-text{
		font-size: $qutes_font-size;
		text-align: center;
	}
	.quote__text{
		text-align: left;
		margin-bottom: $quote--recall_text_gutter-bottom;
		&:before{
			display: block;
			content: "";
			position: absolute;
			width: 100%;
			height: 58px;
			@include img($image + "quote.png");
			background-repeat: no-repeat;
			background-size: contain;
			top: -26px;
			left: 3px;
			z-index: -1;
			opacity: .1;
		}
	}
	.quote__author{
		display: block;
		margin-bottom: $quote--recall_autor_gutter-bottom;
	}
	.quote__PS{
		display: block;
	}
}



// ================== 1200 width ================== //



$quotes_margin-bottom: 29px;

$quote__simple_max-width: 297px;


@include apply-to($m,max){

	.quote{
		margin-bottom: $quotes_margin-bottom;
		
	}

	.quote__simple{
			max-width: $quote__simple_max-width;
			
	}

}

// ================== 768 width ================== //


$quote_max-width: 100%;
$quotes_margin-bottom: 28px;
$quote_text-align: left;
$qutes_font-size : 14px;

$quote__simple_max-width: 100%;
$quote__simple_display: inline-block;

$quote--recall_text_gutter-bottom: 8px;


@include apply-to($s,max){
	.quote{
		font-size: rem($qutes_font-size);
		margin-bottom: $quotes_margin-bottom;
		max-width: $quote_max-width;
		text-align: $quote_text-align;
	}
	.quote__simple{
		text-align: $quote_text-align;
		display: $quote__simple_display;
		max-width: $quote__simple_max-width;
		font-size: rem($qutes_font-size);
	}
	.quote--recall{
		.quote__text{
			margin-bottom: $quote--recall_text_gutter-bottom;
		}
	}

}



// ================== 480 width ================== //


$quotes_margin-top: 14px;
$quotes_margin-bottom: 19px;
$quote_text-align: center;
$quote_kerning: 13px;

$quote__simple_kerning: 27px;

$quote--recall__text_gutter-bottom: 11px;
$quote--recall__author_gutter-bottom: 10px;
$quote--recall_kerning: 23px;



@include apply-to($xs,max){
	.quote{
		text-align: $quote_text-align;
		margin-top: $quotes_margin-top;
		line-height: $quote_kerning;
		margin-bottom: $quotes_margin-bottom;
	}
	.quote__simple{
		line-height: $quote__simple_kerning;
		text-align: $quote_text-align;
	}
	.quote--recall{
		.quote__text{
			margin-bottom: $quote--recall__text_gutter-bottom;
			line-height: $quote--recall_kerning;
		}
		.quote__pre-text{
			font-size: $qutes_font-size;
			text-align: center;
		}
		.quote__author{
			margin-bottom: $quote--recall__author_gutter-bottom;
		}
	}
}