// ================== 1800 width ================== //

$qutes_font-size: 16px;
$quote_max-width: 480px;
$quote_text-align: left;

$quote__simple_max-width: 353px;


.quote{
	padding: 0;
	margin: 0;
	opacity: .5;
	text-align: $quote_text-align;
	font-size: rem($qutes_font-size);
	max-width: $quote_max-width;
	&__text{
		margin: 0;
		position: relative;
		top: -3px;
		line-height: 25px;
		@include fonts($fontMain, $f-l-i);
	}
	&__author{
		@include fonts($fontMain, $f-b-i);
	}
}

.quote__simple{
	text-align: $quote_text-align;
	max-width: $quote__simple_max-width;
	@include fonts($fontMain, $f-l);
	top: -3px;
	position: relative;
	line-height: 23px;
}



// ================== 1200 width ================== //


$qutes_font-size : 14px;
$quotes_margin-bottom: 29px;

$quote__simple_max-width: 297px;


@include apply-to($m,max){

	.quote{
		margin-bottom: $quotes_margin-bottom;
		font-size: rem($qutes_font-size);
	}

	.quote__simple{
			max-width: $quote__simple_max-width;
			font-size: rem($qutes_font-size);
	}

}

// ================== 768 width ================== //


$quote_max-width: 100%;
$quotes_margin-bottom: 28px;
$quote_text-align: left;

$quote__simple_max-width: 100%;
$quote__simple_display: inline-block;


@include apply-to($s,max){
	.quote{
		margin-bottom: $quotes_margin-bottom;
		max-width: $quote_max-width;
		text-align: $quote_text-align;
	}
	.quote__simple{
		text-align: $quote_text-align;
		display: $quote__simple_display;
		max-width: $quote__simple_max-width;
	}

}



// ================== 480 width ================== //


$quotes_margin-top: 14px;
$quotes_margin-bottom: 19px;
$quote_text-align: center;


@include apply-to($xs,max){
	.quote{
		text-align: $quote_text-align;
		margin-top: $quotes_margin-top;
		line-height: 13px;
		margin-bottom: $quotes_margin-bottom;
	}
	.quote__simple{
		line-height: 27px;
		text-align: $quote_text-align;
	}
}