// ================== 1800 width ================== //

$recall_max-width: 805px;
$recall__item_max-width: 50%;
$recall__gutter-bottom: 38px;

.recall{
	max-width: $recall_max-width;
	margin: 0 auto;
	text-align: center;
	font-size: 0;
	margin-bottom: $recall__gutter-bottom;
	&__item{
		font-size: 16px;
		vertical-align: top;
		padding: 0 12px;
		width: 100%;
		display: inline-block;
		max-width: $recall__item_max-width;
		margin-bottom: 30px;
		@include fonts($fontMain,$f-l-i);
	}
	&__text{
		text-align: left;
		margin-top: 0;
		line-height: 25px;
		margin-bottom: 22px;
		position: relative;
		&:before{
			display: block;
			content: "";
			position: absolute;
			width: 100%;
			height: 58px;
			background-image: url("../img/quote.png");
			background-repeat: no-repeat;
			background-size: contain;
			top: -26px;
			left: 3px;
			z-index: -1;
			opacity: .1;
		}
	}
	&__author{
		text-align: center;
		display: block;
		font-size: 16px;
	}
	&__name{
		display: block;
		margin-bottom: 6px;
		@include fonts($fontMain,$f-b-i);
	}
}

// ================== 1200 width ================== //


$recall__gutter-bottom: 7px;

@include apply-to($m,max){
	.recall{
		margin-bottom: $recall__gutter-bottom;
	}
}



// ================== 768 width ================== //


$recall__gutter-bottom: -10px;

@include apply-to($s,max){
	.recall{
		margin-bottom: $recall__gutter-bottom;
	}
}



// ================== 480 width ================== //


$recall__item_max-width: 100%;
$recall__gutter-bottom: 3px;
$recall__item_gutter-side: 7px;
$recall__item_gutter-bottom: 15px;

@include apply-to($xs,max){
	.recall{
		margin-bottom: $recall__gutter-bottom;
		&__item{
			padding: 0 $recall__item_gutter-side;
			max-width: $recall__item_max-width;
			margin-bottom: $recall__item_gutter-bottom;
		}
	}
}