// ================== 1800 width ================== //

.sandwich{
	height: 36px;
	width: 41px;
	cursor: pointer;
	margin-top: 3px;
	z-index: 3000;
	position: absolute;
	right: 30px;
	top: 28px;
	&__line{
		@include trans(.3s);
		width: 100%;
		display: block;
		height: 5px;
		margin-bottom: 10px;
		border-radius: 5px;
		&:last-child{
			margin-bottom: 0;
		}
	}
	&__line__middle{
		opacity: 1;
	}
}

.sandwich_on{
	.sandwich__line__top{
		transform: rotate(45deg) translate(10px, 12px);
		margin-bottom: 0;
	}
	.sandwich__line__middle{
		opacity: 0;
	}
	.sandwich__line__bottom{
		transform: rotate(-45deg) translate(2px, -4px);
	}
}




// ================== 480 width ================== //


$sandwich_size: 25px;
$sandwich__line_gutter-bottom: 5px;


@include apply-to($xs,max){

	.sandwich{
		width: $sandwich_size;
		height: $sandwich_size;
		&__line{
			margin-bottom: $sandwich__line_gutter-bottom;
		}
	}

	.sandwich_on{
		.sandwich__line__top{
			transform: rotate(45deg) translate(7px, 7px);
		}
		.sandwich__line__bottom{
			transform: rotate(-45deg) translate(4px, -4px);
		}
	}

}