// ================== 1800 width ================== //
.sidebar{
	margin-bottom: 7px;
	text-align: right;
	transition: margin-left .3s;
	&__item{
			padding-top: 13px;
			padding-bottom: 7px;
			padding-right: 16px;
			margin-bottom: 11px;
			
			
		}
	&__item_active{
		@include fonts($fontMain,$f-b);
	}
	&__link{
		text-decoration: none;
		display: inline-block;
		line-height: 23px;
		max-width: 247px;
	}
	&__button{
		position: fixed;
		top: 50%;
		width: 8px;
		height: 40px;
		border-radius: 0 100% 100% 0 / 50%;
		visibility: hidden;
		z-index: 1000;
	}
}


.sidebar--fixed{
	position: fixed;
	top: 0;
}




// ================== 1200 width ================== //
@include apply-to($m,max){
	.sidebar{
		&__item{
			padding-top: 11px;
		}
	}
}




// ================== 768 width ================== //
@include apply-to($s,max){
	.sidebar{
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		top: 0;
		bottom: 0;
		height: 100vh;
		padding-left: 20px;
		right: 0;
		box-shadow: 3px 0px 17px rgba(0,0,0,0.30);
		margin-left: -309px;
		&__list{
			max-width: 263px;
			position: absolute;
			top: 30%;
		}
		&__button{
		visibility: visible;
		box-shadow: 3px 0px 0px -3 rgba(0,0,0,0.40);
		}
	}
	.sidebar--open{
		margin-left: 0px;
	}
}


// ================== 480 width ================== //
@include apply-to($xs,max){

}