// ================== 1800 width ================== //
.sidebar{
	margin-bottom: 7px;
	text-align: right;
	&__item{
			padding-top: 13px;
			padding-bottom: 7px;
			padding-right: 16px;
			margin-bottom: 11px;
			
			
		}
	&__item_active{
		@include fonts($fontMain,$f-b);
	}
	&__link{
		text-decoration: none;
		display: inline-block;
		line-height: 23px;
		max-width: 247px;
	}
}



// ================== 1200 width ================== //
@include apply-to($m,max){
	.sidebar{
		&__item{
			padding-top: 11px;
		}
	}
}




// ================== 768 width ================== //
@include apply-to($s,max){
	.sidebar{
		display: none;
		z-index: 200;
		top: 0;
	}
}


// ================== 480 width ================== //
@include apply-to($xs,max){
	.sidebar{
		display: none;
	}
}