.sidebar{
	margin-bottom: 7px;
	//min-width: 294px;
	text-align: right;
	@include col(3);
	left: -209px;
	position: absolute;
	@include apply-to(1799px,max){
		left: 0;
	}
	//left: -100px;
	//@include col(1);
	//display: inline-block;
	//left: 66px;
	//display: none;


	&__item{
			padding-top: 13px;
			padding-bottom: 7px;
			padding-right: 16px;
			margin-bottom: 11px;
			
			
		}
	&__item_active{
		@include fonts($fontMain,$f-b);
	}
	&__link{
		text-decoration: none;
		display: inline-block;
		line-height: 23px;
		max-width: 247px;
	}
}