// ================== 1800 width ================== //

$title_font-size: rem(63px);
$title_cover_about-say_font-size: rem(35px);
$title_cover_about-say_margin-bottom: 30px;

$title--context_before_width: 116%;
$title--context_before_height: 178%;


.title{
	text-align: center;
	font-size: $title_font-size;
	max-width: 435px;
	margin: 0 auto;
	text-transform: uppercase;
	position: relative;
	display: block;
	z-index: 100;
	@include fonts($fontExtra,$f-r);
	&:after{
		content: "";
		display: block;
		height: 3px;
		width: 89px;
		margin: 0 auto;
		margin-top: 18px;
	}
	
}

.title--context{
	&:before{
		content: "";
		display: block;
		position: absolute;
		background-size: contain;
		background-position: center center;
		background-repeat: no-repeat;
		width: $title--context_before_width;
		height: $title--context_before_height;
		opacity: .1;
		z-index: -1;
		top: 25%;
		left: 52%;
		transform: translate(-50%, -50%);
	}
}

.title--my-works{
	margin-top: 0px;
	margin-bottom: 33px;
	&:before{
		@include img($image + "works.png");
	}
}

.title--about-say{
	margin-bottom: 33px;
	&:before{
		@include img($image + "about.png");
		top: 31%;
	}
	&:after{
		margin-top: 23px;
	}
}

.title--cover_about-say{
	font-size: $title_cover_about-say_font-size;
	margin-bottom: $title_cover_about-say_margin-bottom;
	&:after{
		margin-top: 23px;
	}
}



// ================== 768 width ================== //


$title_font-size: rem(49px);
$title_after_gutter-top: 4px;

$title--context_before_width: 103%;
$title--context_before_height: 122%;
$title--context_before_top: 49px;

$title--cover_about-say_font-size: rem(35px);
$title--cover_about-say_gutter-top: 22px;


@include apply-to($s,max){

	.title{
		font-size: $title_font-size;
		&:after{
			content: "";
			display: block;
			height: 3px;
			width: 89px;
			margin: 0 auto;
			margin-top: $title_after_gutter-top;
		}
	}
	.title--cover_about-say{
		font-size: $title--cover_about-say_font-size;
		&:after{
			margin-top: $title--cover_about-say_gutter-top;
		}
	}
	.title--context{
		&:before{
			top: $title--context_before_top;
			width: $title--context_before_width;
			height: $title--context_before_height;
		}
	}


}



// ================== 480 width ================== //

$title_cover_about-say_font-size: rem(20px);
$title_cover_about-say_margin-bottom: 21px;
$title_cover_about-say_after_gutter: 13px;

$title--context__font-size: rem(35px);
$title--context__gutter-bottom: 22px;
$title--context_after_gutter-top: 22px;
$title--context_after_width: 19%;
$title--context_before_width: 100%;
$title--context_before_height: 88%;
$title--context_before_top: 35px;


@include apply-to($xs,max){
	
	.title--context{
		font-size: $title--context__font-size;
		margin-bottom: $title--context__gutter-bottom;
		&:after{
			margin-top: $title--context_after_gutter-top;
			width: $title--context_after_width;
		}
		&:before{
			top: $title--context_before_top;
			width: $title--context_before_width;
			height: $title--context_before_height;
		}
	}
	.title--cover_about-say{
		font-size: $title_cover_about-say_font-size;
		margin-bottom: $title_cover_about-say_margin-bottom;
		&:after{
			margin-top: $title_cover_about-say_after_gutter;
		}
	}

}