.slider
	.slider__content
		i.i-left-open.slider__button__left.slider__button
		i.i-right-open.slider__button__right.slider__button
		.slider__dots
			ul.dots__list
				li.dots__item.active
				li.dots__item
				li.dots__item
				li.dots__item