.skill
	h2.title.title--medium Страница «Обо мне»
	form.skill__form(method="post")
		.skill__group
			h4.title--small Frontend
			.skill__part
				.skill__label__wrap
					label.skill__label(for="skill-html") Html
				.skill__input__wrap
					input.skill__input#skill-html(name="text" placeholder="100")
					span.skill__percent %
			.skill__part
				.skill__label__wrap
					label.skill__label(for="skill-CSS") CSS
				.skill__input__wrap
					input.skill__input#skill-CSS(name="text" placeholder="100")
					span.skill__percent %
			.skill__part
				.skill__label__wrap
					label.skill__label(for="skill-JavaScript") JavaScript
				.skill__input__wrap
					input.skill__input#skill-JavaScript(name="text" placeholder="100")
					span.skill__percent %
		.skill__group
			h4.title--small Workflow
			.skill__part
				.skill__label__wrap
					label.skill__label(for="skill-Git") Git
				.skill__input__wrap
					input.skill__input#skill-Git(name="text" placeholder="100")
					span.skill__percent %
			.skill__part
				.skill__label__wrap
					label.skill__label(for="skill-Gulp") Gulp
				.skill__input__wrap
					input.skill__input#skill-Gulp(name="text" placeholder="100")
					span.skill__percent %
			.skill__part
				.skill__label__wrap
					label.skill__label(for="skill-Bower") Bower
				.skill__input__wrap
					input.skill__input#skill-Bower(name="text" placeholder="100")
					span.skill__percent %
		.skill__group
			h4.title--small Backend
			.skill__part
				.skill__label__wrap
					label.skill__label(for="skill-PHP") PHP
				.skill__input__wrap
					input.skill__input#skill-PHP(name="text" placeholder="100")
					span.skill__percent %
			.skill__part
				.skill__label__wrap
					label.skill__label(for="skill-Node.js") Node.js
				.skill__input__wrap
					input.skill__input#skill-Node.js(name="text" placeholder="100")
					span.skill__percent %
			.skill__part
				.skill__label__wrap
					label.skill__label(for="skill-Mongo.db") Mongo.db
				.skill__input__wrap
					input.skill__input#skill-Mongo.db(name="text" placeholder="100")
					span.skill__percent %
		.button
			button.button__item(type="submit") Сохранить