extends ../_template

block variables
  - var title = 'Works'

block content
  .wrapper.works-page
    include ../modules/_header
    
    .page-content
      img(src="assets/img/bg-1.png").decline__img
      .container
       section.s-works
         h2.title Мои работы